.App {  
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #ac3e23, #961496 48%, #1c639e);
}

.welcome-message {
  color: white;
}

.register-message {
  color: white;
}

.login-container, .register-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px){
  .login-container, .register-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0.5rem;
  }
}

label {
  text-align: center;
  padding: 0.25rem 0;
  color: white;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 20px;
}

button {
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: #ac3e23;
}

.link-button {
  background: none;
  color: white;
  text-decoration: underline;
}

.register-button {
  background: none;
  color: white;
  text-decoration: underline;
}


